# Chapter 9

## SQLite

In [39]:
using SQLite

In [40]:
db = SQLite.DB("quotes.db")   # SQLiteDB() etc., are not exported

SQLite.DB("quotes.db")

In [45]:
SQLite.tables(db)

2×1 DataFrame
│ Row │ name       │
│     │ String⍰    │
├─────┼────────────┤
│ 1   │ categories │
│ 2   │ quotes     │

In [46]:
SQLite.columns(db,"quotes")

4×6 DataFrame
│ Row │ cid    │ name    │ type         │ notnull │ dflt_value │ pk     │
│     │ Int64⍰ │ String⍰ │ String⍰      │ Int64⍰  │ Any        │ Int64⍰ │
├─────┼────────┼─────────┼──────────────┼─────────┼────────────┼────────┤
│ 1   │ 0      │ id      │ integer      │ 1       │ missing    │ 1      │
│ 2   │ 1      │ cid     │ integer      │ 1       │ missing    │ 0      │
│ 3   │ 2      │ author  │ varchar(100) │ 0       │ missing    │ 0      │
│ 4   │ 3      │ quoname │ varchar(250) │ 1       │ missing    │ 0      │

In [41]:
# New syntax, using dataframes

df = DataFrame(SQLite.Query(db, "select count(*) as N from quotes"))

1×1 DataFrame
│ Row │ N      │
│     │ Int64⍰ │
├─────┼────────┤
│ 1   │ 36     │

In [44]:
df[1]

1-element Array{Union{Missing, Int64},1}:
 36

In [14]:
df = DataFrame(SQLite.Query(db, "select * from quotes limit 10"))

10×4 DataFrame. Omitted printing of 1 columns
│ Row │ id     │ cid    │ author           │
│     │ Int64⍰ │ Int64⍰ │ String⍰          │
├─────┼────────┼────────┼──────────────────┤
│ 1   │ 1      │ 1      │ Hofstadter's Law │
│ 2   │ 2      │ 2      │ Noelie Altito    │
│ 3   │ 3      │ 3      │ Scott's Law      │
│ 4   │ 4      │ 2      │ Shaw's Principle │
│ 5   │ 5      │ 4      │ Adolf Hiltler    │
│ 6   │ 6      │ 5      │ G. B. Shaw       │
│ 7   │ 7      │ 1      │ Heller's Law     │
│ 8   │ 8      │ 3      │ missing          │
│ 9   │ 9      │ 2      │ Fingle's Creed   │
│ 10  │ 10     │ 1      │ missing          │

In [64]:
sql =  "select q.quoname, q.author, c.catname from quotes q ";
sql *= "join categories c on q.cid = c.id limit 5";

df = DataFrame(SQLite.Query(db,sql))

5×3 DataFrame. Omitted printing of 3 columns
│ Row │ │     │ ├─────┼
│ 1   │ │ 2   │ │ 3   │ │ 4   │ │ 5   │

In [66]:
# The feather package can be used to store snapshots of queries
using Feather

Feather.write("QuoView01.feather", df)

"QuoView01.feather"

In [67]:
# Retrieving fro a feather file is "lazy"
# That is the metadata is read but records are fetched when they are referenced
# So feather files can hold very large datasets with little memory overhead.

dfx = Feather.read("QuoView01.feather");
size(dfx)

(5, 3)

In [70]:
dfx[1,1]   # Get first quote

" It always takes longer than you expect, even when you take Hofstadter's Law into account."

---

In [31]:
sql =  "select q.quoname from quotes q ";
sql *= " where q.author = 'Oscar Wilde'";
SQLite.Query(db,sql) |> DataFrame

6×1 DataFrame. Omitted printing of 1 columns
│ Row │ │     │ ├─────┼
│ 1   │ │ 2   │ │ 3   │ │ 4   │ │ 5   │ │ 6   │

---

In [53]:
sql =  "select q.quoname, q.author, c.catname from quotes q ";
sql *= "join categories c on q.cid = c.id";

df = DataFrame(SQLite.Query(db,sql));
nrows = size(df)[1];
println("Number of rows: $nrows" )

Number of rows: 31

---

## MySQL

_See the **Chinook.ipynb** notebook_

---

## Postgresql

In [1]:
# Assumes Postgres is running and the Chinook dataset loaded into a database 'chinnok'
using LibPQ, DataStreams
conn = LibPQ.Connection("dbname=chinook");

In [2]:
res = execute(conn, "SELECT count(*) FROM \"Album\"");  # Note escaping the quotes
Data.stream!(res, NamedTuple)

(count = Union{Missing, Int64}[306],)

In [10]:
qry = fetch!(NamedTuple, execute(conn, "SELECT count(*) as NA FROM \"Album\""));
qry[1][1]

306

In [5]:
qry = fetch!(NamedTuple, execute(conn, "SELECT * FROM \"MediaType\""))

(MediaTypeId = Union{Missing, Int32}[1, 2, 3, 4, 5], Name = Union{Missing, String}["MPEG audio file", "Protected AAC audio file", "Protected MPEG-4 video file", "Purchased AAC audio file", "AAC audio file"])

In [7]:
qry[:Name]

5-element Array{Union{Missing, String},1}:
 "MPEG audio file"
 "Protected AAC audio file"
 "Protected MPEG-4 video file"
 "Purchased AAC audio file"
 "AAC audio file"

In [49]:
qry.FirstName[1]

"Margaret"

In [58]:
sqlx = """select e."FirstName", e."LastName", count(i."InvoiceId") as "Sales"
 from "Employee" as e
 join "Customer" as c on e."EmployeeId" = c."SupportRepId"
 join "Invoice" as i on i."CustomerId" = c."CustomerId"
 group by e."EmployeeId"
""";

In [59]:
qry = fetch!(NamedTuple, execute(conn, sqlx))

(FirstName = Union{Missing, String}["Margaret", "Jane", "Steve"], LastName = Union{Missing, String}["Park", "Peacock", "Johnson"], Sales = Union{Missing, Int64}[70, 97, 84])

In [60]:
using Printf
for i in 1:length(qry)
    @printf("%s %s has %d sales\n",
        qry.FirstName[i],qry.LastName[i],qry.Sales[i])
end

Margaret Park has 70 sales
Jane Peacock has 97 sales
Steve Johnson has 84 sales

---